html {
    background: #e0e0e0;
}

body {
    width: 750px;
    margin: 20px auto;
    font-family: Arial;
    font-size: 90%;
    color: rgb(54, 47, 45);
    background: #fff;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
    -moz-border-radius: 8px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.2);
}

a {
    color: #666;
}

/** Main **/

.fError, .fSuccess {
    text-align: center;
    position: relative;
    top: -10px;
}

.fError {
    color: #c00;
}

.fSuccess {
    color: #0c0;
}

#content {
    padding: 20px;
}


/** Header **/

#header {
    height: 25px;
    position: relative;
}

#header h1 {
    margin: 0;
    background: #333;
    color: #eee;
    border-bottom: 1px solid rgba(255,255,255,.5);
    font-weight: lighter;
    font-size: 18px;
    padding: 10px 20px;
    text-shadow: 0 0 5px rgba(255,255,255,.5);
}

#header #options {
    position: absolute;
    right: 10px;
    top: 13px;
    font-size: 80%;
    color: #eee;
}

#header #options a {
    color: #eee;
}

/** Login **/

#login {
    text-align: center;
}

#formLogin {
    border-bottom: 1px dashed #aaa;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}

#formLogin label {
    text-align: right;
}

#formLogin p.buttons {
    text-align: center;
    background: none;
    margin-top: 0;
}

/** Table **/

table {
    border-collapse: collapse;
    border: 1px solid #aaa;
    width: 100%;
}

th {
    background: #eee !important;
}

td, th {
    padding: 5px;
    text-align: left;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

/** Forms **/

label {
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 5px;
}

form p {
    text-align: center;
    height: 25px;
}

form p.field {
    text-align: left;
    margin: 0 0 5px 0;
    height: 25px;
}

form strong {
    display: block;
    width: 150px;
    float: left;
    text-align: right;
    margin-right: 20px;
    background: #eee;
    padding: 2px;
}

form p {
    clear: both;
    text-align: left;
    margin: 7px 0;
    min-height: 15px;
}

form p.hasError {
    color: #c00;
}

form .hasError .error {
    font-size: 80%;
}

form .buttons {
	width:		147px;
    text-align: left;
    background: #dedede;
    padding: 	5px;
}

form .lines {
    text-align: left;
    background: #eee;
   	height: 100px;
   	width: 450px; 
}

buttons {
	width:		125px;
    text-align: left;
    background: #dedede;
    padding: 	5px;
}
    
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.7;
}
#tooltip h3, #tooltip div { margin: 0; }


#tooltip.pretty {
	font-family: Arial;
	border: none;
	width: 210px;
	padding:20px;
	height: 135px;
	opacity: 0.7;
	background: url('../images/shadow.png');
}
#tooltip.pretty h3 {
	margin-bottom: 0.75em;
	font-size: 12pt;
	width: 220px;
	text-align: center;
}
#tooltip.pretty div { width: 220px; text-align: left; }

#tooltip.fancy {
	background: url('../images/shadow2.png');
	padding-top: 5em;
	height: 100px;
}
#tooltip.fancy1 {
	background: url('../images/shadow2.png');
	padding-top: 5em;
	height: 100px;
}
#tooltip.fancy.viewport-right {
	background: url('../images/shadow2-reverse.png');
}

fieldset {
	border: 0px solid black; padding: 0px; margin: 0px 0;
}
#extended { margin: 2em 0; }
#extended label { text-decoration: underline; }
#right, #right2 { text-align: right; }
#tooltip.right { width: 250px; }
#fancy2 { float: right; }



/** Footer **/

#footer {
	height: 75px;
    padding: 10px;
    font-size: 70%;
    border-top: 1px dotted #ccc;
    text-align: center;
    background: #333;
}

#footer h1 {
    margin: 0;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,.5);
    font-weight: lighter;
    font-size: 18px;
    padding: 10px 20px;
}


.kwicks {
	/* recommended styles for kwicks ul container */
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}
.kwicks li{
	/* these are required, but the values are up to you (must be pixel) */
	width: 233px;
	height: 300px;

	/*do not change these */
	display: block;
	overflow: hidden;
	padding: 0;  /* if you need padding, do so with an inner div (or implement your own box-model hack) */
}
.kwicks.horizontal li {
	/* This is optional and will be disregarded by the script.  However, it should be provided for non-JS enabled browsers. */
	margin-right: 5px; /*Set to same as spacing option. */	
	float: left;
}
.kwicks.vertical  li{
	/* This is optional and will be disregarded by the script.  However, it should be provided for non-JS enabled browsers. */
	margin-bottom: 5px; /*Set to same as spacing option. */	
}

#kwick_1 { 
	background-color: #53b388;
}
#kwick_2 {
	background-color: #5a69a9;
}
#kwick_3 {
	background-color: #c26468;
}
#kwick_4 { 
	background-color: #bf7cc7;
}
.kwicks.horizontal #kwick_4 {
	margin-right: none; /* cancel margin on last kiwck (if you set a margin above) */
}
.kwicks.vertical #kwick_4 {
	margin-bottom: none; /* cancel margin on last kiwck (if you set a margin above) */
}


/**********************************

Use: Reset Styles for all browsers

***********************************/
	
p, blockquote {
	margin: 0;
	padding: 0;
}

a img, iframe { border: none; }
	
/* Headers
------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-size: 100%;
}
	
/* Lists
------------------------------*/
	
ul, ol, dl, li, dt, dd {
	margin: 0;
	padding: 0;
}
	
/* Links
------------------------------*/

a, a:link {}
a:visited {}
a:hover {}
a:active {}

/* Forms
------------------------------*/

form, fieldset {
	margin: 0;
	padding: 0;
}
	
fieldset { border: 1px solid #000; }

legend {
	padding: 0;
	color: #000;
}

input, textarea, select {
	margin: 0;
	padding: 1px;
	font-size: 100%;
	font-family: inherit;
}
	
select { padding: 0; }


body, div { font-family: 'lucida grande', helvetica, verdana, arial, sans-serif }

h1, h2 { font-family: 'trebuchet ms', verdana, arial; padding: 10px; margin: 0 }
h1 { font-size: large }
#main { padding: 1em; }
#banner { padding: 15px; background-color: #06b; color: white; font-size: large; border-bottom: 1px solid #ccc;
    background: url(../images/bg.gif) repeat-x; text-align: center }
#banner a { color: white; }
	
p { margin: 10px 0; }

li { margin-left: 10px; }

h3 { margin: 1em 0 0; }

h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }

/**********************************

Use: cmxform template

***********************************/
form.cmxform fieldset {
	margin-bottom: 10px;
}

form.cmxform legend {
	padding: 0 2px;
	font-weight: bold;
	_margin: 0 -7px; /* IE Win */
}

form.cmxform label {
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
	cursor: hand;
}

form.cmxform fieldset p {
	list-style: none;
	padding: 5px;
	margin: 0;
}

form.cmxform fieldset fieldset {
	border: none;
	margin: 3px 0 0;
}

form.cmxform fieldset fieldset legend {
	padding: 0 0 5px;
	font-weight: normal;
}

form.cmxform fieldset fieldset label {
	display: block;
	width: auto;
}

form.cmxform label { width: 100px; } /* Width of labels */
form.cmxform fieldset fieldset label { margin-left: 103px; } /* Width plus 3 (html space) */
form.cmxform label.error {
	margin-left: 103px;
	width: 220px;
}

form.cmxform input.submit {
	margin-left: 103px;
}

/*\*//*/ form.cmxform legend { display: inline-block; } /* IE Mac legend fix */

/**********************************

Name: cmxform Styles

***********************************/
form.cmxform {
	width: 370px;
	font-size: 1.0em;
	color: #333;
}

form.cmxform legend {
	padding-left: 0;
}

form.cmxform legend, form.cmxform label {
	color: #333;
}

form.cmxform fieldset {
	border: none;
	border-top: 1px solid #C9DCA6;
	background: url(../images/cmxform-fieldset.gif) left bottom repeat-x;
	background-color: #F8FDEF;
}

form.cmxform fieldset fieldset {
	background: none;
}

form.cmxform fieldset p, form.cmxform fieldset fieldset {
	padding: 5px 10px 7px;
	background: url(../images/cmxform-divider.gif) left bottom repeat-x;
}

form.cmxform label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: italic
}
div.error { display: none; }
input {	border: 1px solid black; }
input.checkbox { border: none }
input:focus { border: 1px dotted black; }
input.error { border: 1px dotted red; }
form.cmxform .gray * { color: gray; }
