#{extends 'main.html' /} 
#{set title:'Purchase ' + purch.id /} 
#{set 'moreScripts'}
	<script src="@{'/public/javascripts/jquery-ui-1.7.2.custom.min.js'}" type="text/javascript" charset="utf-8"></script>
	<script src="@{'/public/javascripts/jquery.form.js'}" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript"> 
		//Setup extended validation of cc number
		$.validator.messages.creditcard1 = "invalid selection";
		$.validator.messages.creditcard2 = "invalid credit card number";
		$(function() {
			jQuery(function($){
			   	$("#field2").mask("9999-9999-9999-9999");
			   	$("#credit_card[number]").mask("9999-9999-9999-9999");
			});
			//set validation rules for cc fields on the form
			$('form').validate({rules: {field1: {creditcard1: true},field2: {creditcard2: function(){ return $('#cardType').val(); }}}});
			//executes when form is submitted
			$('.test2').click(function(){$('#field2').val( $(this).text());
			//not using this right now
			$('#cardType').change(function(){$('form').validate().element('#field2');});
			$('#cardType option[value="' + $(this).attr('data') + '"]').attr('selected', 'selected');$('form').validate().element('#field2');return false;});
			
			//copy cc # to the BrainTree required field
			$('#field2').change(function(){
				$('#ccNumber').val($(this).val());
				//alert($(this).val()+'  org val copied val  '+$('#ccNumber').val());
			});
			
			//if not in prod mode, copy the sandbox cc #, just for convience
			$('#ccBtn').click(function(){
				$('#field2').val('5555-5555-5555-4444');
				$('#ccNumber').val('5555555555554444');
				//alert($(this).val()+'  org val copied val  '+$('#ccNumber').val());
			});
		});
	
		// wait for the DOM to be loaded 
		$().ready(function() {
			// validate the cc form on keyup and submit
			$("#creditCardForm").validate({
				rules: {
					email: {
						required: true,
						email: true
					}
				},
				messages: {
					email: {
						required: "Please enter a valid email address"
					}
				}
			});
		});

		//in test mode display some info 
		function ToggleDiv(btnId, divId){			
			divObj = document.getElementById(divId); 		 
			btnObj = document.getElementById(btnId); 		 
			if (divObj && btnObj) {
				if (divObj.style.display != 'block') {
		 			divObj.style.display = 'block';
		 			btnObj.value = 'hide info';
				} else {
		 			divObj.style.display = 'none';
		 			btnObj.value = 'show info';
				}	
				//alert(obj.style.display+'  click ');
			} else {
				alert(' no objclick ');
			}
		};
	</script>
#{/set} 

#{set 'moreStyles'}
	<style type="text/css">
		#creditCardForm {width: 700px;}
		#creditCardForm label {width: 350px;}
		#creditCardForm strong {width: 300px;}
		#creditCardForm label.error,#creditCardForm input.submit {margin-left: 350px;}
	</style>
#{/set}

<form class="cmxform" id="creditCardForm" method="post" action="${purch?.transparentRedirectUrl}" enctype="multipart/form-data">
	<p><strong>TODO:<br>Get subscription info from BrainTree Plan.<br>Localize strings.</strong></p><p></p>
	<!-- Display the plan we are buying -->
	<p><strong id="fancy" title="Silver, Gold or Platinum">Type:</strong> ${purch.subscription.type}</p>
	<p><strong id="fancy" title="Plan details">Description:</strong> ${purch.subscription.descr}</p>
	<p><strong id="fancy" title="Number of months for subscription">Duration:</strong> ${purch.subscription.durationMonths}</p>
	<p><strong id="fancy" title="Total cost">Price:</strong> ${purch.subscription.price}</p>
	
	<fieldset>
		<!-- the field we need to pass BrainTree sensitive info -->
		#{field 'purch.trData'} 
			<input type="hidden" name="tr_data" value="${purch?.trData}"> 
		#{/field} 
		<br>		
		<p>
			<label for="cemail" id="fancy" title="All credit card transactions will be sent to this email"><strong>E-Mail (required)</strong></label> 
			<input name="email" value="${purch?.user.email}" class="required email"/>
		</p>
		<br>
		<p>
			<label for="cardnumber" id="fancy" title="This is any valid 16 digit credit card number"><strong>Card Number</strong></label> 
			<input id="field2" name="field2" class="required"/> 
			#{if playId != 'prod'}
			<input name="ccBtn" id="ccBtn"value="Paste CC" type="button"/></a>
			#{/if}
			<!-- BrainTree needs name="credit_card[number]" field -->
			<input type="hidden" id="ccNumber" name="credit_card[number]" /> 
			<!-- Dummy card type, BrainTree figures it out for us -->
			<input type="hidden" id="cardType" name="cardType" value="MasterCard" class="field">
		</p>
		<p>
			<label for="expire" id="fancy" title="The credit card expiration date"><strong>Credit Card Expiry:</strong></label>
			<select name="credit_card[expiration_month]">
				<option>01</option>
				<option>02</option>
				<option>03</option>
				<option>04</option>
				<option>05</option>
				<option>06</option>
				<option>07</option>
				<option>08</option>
				<option>09</option>
				<option>10</option>
				<option>11</option>
				<option>12</option>
			</select> 
			<select name="credit_card[expiration_year]">
				<option>2011 </option>
				<option>2012 </option>
				<option>2013 </option>
				<option>2014 </option>
				<option>2015 </option>
				<option>2016 </option>
				<option>2017 </option>
				<option>2018 </option>
				<option>2019 </option>
				<option>2020 </option>
				<option>2021 </option>
				<option>2022 </option>
			</select>
		</p>
		<br>
		<p class="buttons">
			<strong>
	 		<input  type="submit" value="Submit" id="fancy" title="Register the entered credit card number"/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	 		<a href="/" id="fancy" title="Do not register the credit card"><b>Cancel</b></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	 		</strong>
	 	</p>
			
	</fieldset>
</form>


<a href="#" onclick="ToggleDiv('infoBtn','infoDiv'); return false;"><input name="infoBtn" id="infoBtn"value="show info"  type="button"/></a>
<br><br>
<div id = "infoDiv" name = "infoDiv" style="display: none">

	#{if playId != 'prod'}
		first: ${purch?.user.firstName} | last: ${purch?.user.lastName} | username: ${purch?.user.userName} | custId: ${purch?.user.customerId}
		<br>This info is only displayed when we are using the BrainTree sandbox (play id != 'prod').
		<br>If play id == 'prod' (case sensitive) we will use our real merchant account.
		<br><br>Valid sandbox cc # 5555555555554444<br><br>
		This form is for placing credit cards into the BrainTree vault.<br>
		The forms action attribute must be set to BrainTree's url for TransparentRedirect.<br>
		Data in the hidden tr_data field is used by BrainTree when placing the credit card in the vault.<br>
		It must contain the customerId, and the url to redirect to after submission. (other data can be included here)<br>
		See Subscriptions.buy(Long id, String subDescr) to see how these values are set before loading this page.<br>
		On redirect, the querystring is used to determine if the submission was successful. 
		If it was, then a token is returned that represents the credit card in the vault.
		Once a customer has a credit card in the vault, purchases can be made with the customerId, or the token.<br>  
	    
	 
	#{/if}
	#{else}
	PROD INFO
	#{/else}
	</div>
	<br>

