#{extends 'main.html' /}
#{set title:'Register' /}


<!--  HEADER START  Maybe we want a header like this, but probably not

<div style="height: 100px; width: 670px"><img src="../public/images/sports.jpg" width="269" style="float: right"/>
	<div  style="height: 17px; width: 10px">
	</div>
	<div  style="height: 26px; width: 73px">
		<button id="block" style="width: 250px; height: 25px">Click to Hide/Display ToolTips</button>
	</div>
</div>

      HEADER END -->

#{form @saveUser()}
    #{field 'user.userName' }
        <p class="${field.errorClass}">
            <strong  id="fancy" title="${user?.userNameToolTip}">Username:</strong> 
            <input type="text" name="${field.name}" size="40" value="${user?.userName}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'user.password'}
        <p class="${field.errorClass}">
            <strong id="fancy" title="${user?.passwordToolTip}">Password:</strong> 
            <input type="password" name="${field.name}" size="40" value="${user?.password}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'verifyPassword'}
        <p class="${field.errorClass}">
            <strong id="fancy" title="${user?.passwordToolTip}">Verify password:</strong> 
            <input type="password" name="${field.name}" size="40" value="${verifyPassword}" id="fancy" title="${user?.passwordToolTip}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field} 
    #{field 'user.firstName'}
        <p class="${field.errorClass}">
            <strong id="fancy" title="${user?.nameToolTip}">First name:</strong> 
            <input type="text" name="${field.name}" size="40" value="${user?.firstName}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
        #{field 'user.lastName'}
        <p class="${field.errorClass}">
            <strong id="fancy" title="${user?.nameToolTip}">Last name:</strong> 
            <input type="text" name="${field.name}" size="40" value="${user?.lastName}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}

    #{field 'user.email'}
        <p class="${field.errorClass}">
            <strong id="fancy" title="${user?.emailToolTip}">Email:</strong> 
            <input type="text" name="${field.name}" size="50" value="${user?.email}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'phonenum'}
        <p class="${field.errorClass}">
            <strong id="fancy" title="${user?.phoneToolTip}">Phone:</strong> 
            <input type="text" name="${field.name}" size="40" value="${phonenum}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
	#{field 'user.lang'}
        <p class="${field.errorClass}">
        <strong id="fancy" title="Select your prefered language (currently not completely implemented)">Language:</strong> 
        #{select 'user.lang', value:user?.lang}
            #{option "en"}English#{/option}
            #{option "sp"}Spanish#{/option}
            #{option "fr"}French#{/option}
        #{/select}
        <span class="error">${field.error}</span>
        </p>
    #{/field}
    
    #{field 'user.fax'}
        <p class="${field.errorClass}">
            <strong id="fancy" title="${user?.nrPhoneToolTip}">Fax:</strong> 
            <input type="text" name="${field.name}" size="40" value="${user?.fax}"> 
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'user.company'}
        <p class="${field.errorClass}">
            <strong id="fancy" title="${user?.companyToolTip}">Company:</strong> 
            <input type="text" name="${field.name}" size="40" value="${user?.company}"> 
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'user.website'}
        <p class="${field.errorClass}">
            <strong id="fancy" title="${user?.websiteToolTip}">Website:</strong>
            <input type="text" name="${field.name}" size="50" value="${user?.website}"> 
            <span class="error">${field.error}</span>
        </p>
    #{/field}  
    #{field 'user.notes'}
        <p class="${field.errorClass}">
    		<strong id="fancy" title="${user?.notesToolTip}">Notes:</strong>
    		<textarea name="${field.name}" class="lines" value="${user?.notes}"></textarea>
        </p>
    #{/field}  
		<br><br>
        <p class="buttons">
        	&nbsp&nbsp<input type="submit" value="Register" id="fancy" title="Register with BrainTree"> &nbsp&nbsp<a href="@{index()}"><b>Cancel</b></a>    
		</p>
 	#{/form}









